:root {
    --primary-color: #547581;
    --secondary-color: #514663;                   
    --accent1-color: #4D5382;
    --accent2-color: #658E9C;

    --heading-font: 'Roboto', sans-serif;
    --text-font: 'Roboto', sans-serif;

}

body {
    display: block;
    margin: 0;
    font-family: var(--text-font);
    padding: 20px;
    max-width: 1200px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    background-color: bisque;
}

header {
    background-color: var(--accent1-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    margin: 1rem auto;
    display: grid;
    grid-template-rows: 1fr;
    gap: 10px;
    border-radius: 10px;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--accent1-color);
    background-blend-mode: darken;
    background-size: cover;
    width: 100%;
    
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: center;
    
}

.nav-list li {

    flex: 1 1 auto;
    text-align: center;
    color: black;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: var(--secondary-color);
    border: 1px solid black;
    transition: background-color 0.3s, color 0.3s;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

.nav-list li a:hover {
    color: var(--accent1-color);
    /* Change the color on hover */
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    margin: 0;
    padding: 0;
    unicode-bidi: isolate;
    overflow: visible;
}

main {
    display: block;
    unicode-bidi: isolate;
}

.hero {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    unicode-bidi: isolate;
    position: relative;
    width: 95%;
    height: 500px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
    font-family: 'Roboto', sans-serif;
}



.hero div {
    position: relative;
}

.hero img {
    display: block;
    width: 95%;
    height: 70%; 
    padding-bottom: 0ch;
    border-radius: 20px;
    unicode-bidi: isolate;
    overflow: clip;
    border-radius: 10px;
    margin: 0 auto;
} 


.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center; 
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: -150px;
}



.hero article {
    position: absolute;
    top: 70%;
    left: 5%;
    width: 85%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: -200px;
}


article {
    display: block;
    unicode-bidi: isolate;
}


p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}


.hero div article {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
}


.hero p {
    padding: 0 25px;
    font-size: 1.2rem;
    color: white;
    margin: 0;
    padding: 0;

}

.hero article img {
    float: right;
    width: 200px;
    height: auto;
}


nav img {
    width: 64px;
    height: auto;
}

h1 {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    color: black;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    font-family: Roboto, sans-serif;
    color: var(--primary-color);
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: visible;
    text-align: center;
}


section {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    unicode-bidi: isolate;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 1rem auto;
}

img {
    overflow: clip;
}


.flex-container {
    border: 3px solid var(--accent2-color);
    display: flex;
    background-color: var(--accent1-color);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.button {
    background-color: var(--accent2-color);
    color: black;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    margin: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.history-content {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row;
    justify-content: center; */
    /* align-items: center; */
    /*padding: 20px; */
}

.history-content div {
    flex-grow: 1;
    width: 33%;
}


.adventure-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.adventure-gallery img {
    width: 150px;
}

section img {
    max-width: 100%;
    height: auto;
}



  
.adventures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
  }

.adventures img {
    width: 100%;
    height: auto;
}

.footer {
    display: flex;
    background-color: var(--accent1-color);
    color: white;
    text-align: center; 
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.copyright {
    flex-grow: 1;
}

.sociallinks img {
    width: 30px;
    height: auto;
    margin: 0 10px;
    margin-left: 0;
    background-color: var(--accent1-color);
    padding: 5px;
}


/* The following CSS rule removes underlines from all hyperlinks. Do not do this. */
a {
    text-decoration: none;
}



.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.gallery img {
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.contact-info {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    justify-items: center;
}

.map{
    display: grid;
    justify-content: flex-end;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
}


.hero-1 div {
    position: absolute;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.hero-1 img {
    display: grid;
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;
    margin: auto;
}



.hero-1 h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center; 
    justify-content: center;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: black;
    margin-top: -150px;
    margin: auto;
}


.hero-1 h3 {
    position: absolute;
    top: 70%;
    left: 50%;
    text-align: center; 
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: purple;
    margin-top: -150px;
    margin: auto;
}


.hero-1 button {
    position: absolute;
    top: 90%;
    left: 50%;
    text-align: center; 
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: white;
    margin-top: -200px;
    margin: auto;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s;
    background-color: var(--secondary-color);
    cursor: pointer;
}


.hero-1 button:hover {
    color: var(--accent1-color);
    /* Change the color on hover */
}


.rafting {
    display: grid;
    border-radius: 10px;
    box-shadow: 0 2px 4px black;
    margin: auto;
    gap: 10px;
    grid-template-columns: 1fr;
}


.rafting img {
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rosybrown;
}

.rafting div {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 2px 4px rosybrown;
    margin: 1rem auto;
}


.newsletter form {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 2px 4px black;
    margin: 1rem auto;
}


.newsletter input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 10px;
    width: 50%;
}


.contact {
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px black;
    margin: 1rem auto;

}


.button-link {
    background-color: var(--accent1-color);
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
}

.button-link:hover {
    color: var(--accent2-color);
    /* Change the color on hover */
}

.trip-descriptions {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px black;
    padding: 30px;
    margin: auto;


}

.trip {
    display: grid;
    grid-template-columns: 700px 600px 600px;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rosybrown;
    padding: 30px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: auto;
}


.trip div {
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: auto;
    gap: 10px;
    box-shadow: 0 2px 4px rosybrown;
    padding: 30px;
}

.trip p {
    display: block;
    margin: auto;
    text-align: center;
    box-shadow: 0 2px 4px rosybrown;
    padding: 20px;
}


.trip h3 {
    color: var(--primary-color);
    text-align: center;
    overflow: visible;
    text-align: center;
    gap: 20px;
    padding: 30px;
    margin: auto;
}

.available-trips h2 {
    color: var(--primary-color);
    text-align: center;
    overflow: visible;
    text-align: center;
    gap: 20px;
    padding: 30px;
    margin: auto;
}


.available-trips table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
}

.available-trips table th {
    color: black;
    padding: 30px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rosybrown;
}
